*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

:focus-visible {
  outline: 2px solid #4F46E5;
  outline-offset: 2px;
}

::selection {
  background: #818CF8;
  color: white;
}
